h1, h2, h3, h4, h5, p, a {
  font-family: 'Neucha', cursive;
}

body {
  background: url(../images/tavernimage.jpg);
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size: cover;
}

label {
  color: #424242;
}

h2 {
  color: whitesmoke;
  -webkit-text-stroke: 1px black;
  text-align: center;
  text-size-adjust: 50%;
}

.new-char {
  text-align: center;
}

.new-campaign {
  text-align: center;
}

.btn {
  text-align: center;
}

.btn:active {
  color: black;
}

.signup {
  margin-top: 15px;
  border: solid rgb(36, 36, 36);
  border-width: 1.5px;
  border-radius: 4px;
  background: url(../images/old-yellow-and-brown-parchment-paper-900x1204.jpg);
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size: cover;
  color: #424242;
}

.signup h2 {
  color: black
}

.form-group input[type=text]:focus, input[type=email]:focus, input[type=password]:focus + label {
  color: rgb(99, 21, 21) !important;
}

.form-group input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  border-bottom: 1px solid rgb(99, 21, 21) !important;
  box-shadow: 0 1px 0 0 rgb(99, 21, 21) !important;
}

.form-label {
  font-size: 13px;
  font-weight: bolder;
  color: black;
}

::-webkit-input-placeholder {
  color: #424242;
}

#logo {
  margin-top: 5px;
  margin-bottom: -12px;
  height:50px;
  width: 50px;
}

form.signup,
form.login {
  margin-top: 50px;
}

select{
  display: inline-block;
}
select p{
  color: white;
}
.characters{
  height: 150px;
}
.modal-content {
  background: url(../images/old-yellow-and-brown-parchment-paper-900x1204.jpg);
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-size: cover;
}

.collapsible-header {
  color: whitesmoke;
  background-color: #424242;
}

.race{
  float: right;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.raceSelected{
  width: 100%;
  margin: 10px;
  color: white;
  background-color: rgb(99, 21, 21)
}

.classSelected{
  width: 100%;
  margin: 10px;
  color: white;
  background-color: rgb(99, 21, 21)
}

main {
  flex: 1 0 auto;
}
    